[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
PyYAML = "*"
Sanic = "*"
mock = "*"
aiohttp = "*"
coverage = "*"
pyyaml = "*"

[dev-packages]
pytest-cov = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
